body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
              url('assets/fabrica.jpg') center/cover no-repeat;
}

/* NAVBAR */
.navbar-brand {
  color: #FFD700 !important;
}

/* SECTIONS */
section h2 {
  color: #217041;
}
